.blu {
    position: static;
    width: 1508px;
    height: 63px;
    left: 250px;
    top: 250px;
    margin-left: 56px;
    background: #E5F3FF;
    border-radius: 3px;
    display: flex;
    font-size: 18px;
}

.pri {
    margin-left: -10px;
}

.refr {
    margin-right: 350px;
}

.easy-grid {
    display: grid;
    grid-gap: var(--g, 1rem);
    grid-template-columns: repeat(auto-fill,
            minmax(min(var(--m, 10rem), 100%), 1fr));
    --m: 15rem;
    --g: 5rem
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fdf8f8;
}

.example-block {
    background: #ffffff;
    border-radius: 0.5rem;
    min-height: 5rem;
    max-width: 377px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin-top: 10px;
}

.wan {
    flex-direction: row;
    display: flex;
    background-color: #ffff;
}

.wano {
    margin-left: 200px;
}