/* .credit {
    margin-top: 500px;
    width: 248px;
    height: 145px;
    margin-left: 6px;
}

.Sidebar {
    width: 300px;
    height: 1080px;
    background-color: #04273A;
    margin-left: 0px;
}

.Menuitem {
    text-align: center;
    color: white;
}

.app {
    height: 100vh;
    display: flex;
} */