.credit {
    margin-top: 500px;
    width: 248px;
    height: 145px;
    margin-left: 6px;
}

.Side {
    width: 300px;
    height: 1080px;
    background-color: #04273a;
    margin-left: 0px;
}

.Menuitem {
    text-align: center;
    color: white;
}

.app {
    min-height: 100vh;
    display: grid;
}

.up {
    flex-direction: row;
}

.test {
    margin-left: 5rem;
}

.rea {
    margin-left: 79px;
    color: white;
}

.men {
    width: 200px;
}

-webkit-autofill {
    background-color: none;
}