.pg2bar {
    width: 1508px;
    height: 137px;
    margin-top: 0px;
    margin-left: 2rem;
}

.blu {
    position: static;
    width: 1508px;
    height: 63px;
    left: 250px;
    top: 250px;
    margin-left: 56px;
    background: #E5F3FF;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.wrapper {
    /* margin: 0px;
    width: 1508px;
    text-align: center; */
    margin-top: 10px;
    background-color: #f0ffff;
}

nav {
    margin: 2rem;
    width: 1508px;
    /* height: 102px; */
    text-align: center;
    /* margin-top: 80px; */
    justify-content: space-around;
}

nav ul {
    text-align: left;
    /* display: inline; */
    margin: 0;
    padding: 1em 1em 1em 0;
    list-style: none;
    background-color: none;
}

nav ul li {
    /* display: inline-block; */
    margin-right: .01em;
    position: relative;
    padding: 1em 3em;
    background: transparent;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    justify-content: start;
}

nav li a {
    padding-bottom: 1em;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: Consolas, monaco, monospace;
    color: #000;
}

nav ul li:hover {
    background-color: lightblue;
}

nav ul li ul {
    padding: 0;
    position: absolute;
    top: 3.5em;
    left: 0;
    width: 16em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: visible;
}

nav ul li ul li {
    /* display: block; */
    color: white;
    text-shadow: 0 10px 0 #fff;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg);
}

nav ul li ul li:hover {
    background-color: lightblue;
}

nav ul li:hover ul {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

/* .wholemap {
    background-color: #fdf8f8;
} */

.spindle {
    position: static;
    width: 1508px;
    height: 63px;
    left: 250px;
    top: 250px;
    margin-left: 56px;
    background: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.can {
    height: 25px;
    width: 180px;
}

.bro {
    justify-content: space-around;
}

.but {
    margin-left: 1100px;
    top: 1000000000px;
    /* margin-block-start: -100px; */
}

/* 
.addi {
    justify-content: flex-start;
}

.spi {
    justify-content: center;
} */